## The name of the script, can be run from the console with:
## builtin:script script_name
#[script_name]
## The command to run
#command = /path/to/command
## The servers this script is available for. Can be a comma separated list of
## server IDs or "all".
## default: all
#servers = all
## Timeout in seconds
## default: 0 (no timeout)
#timeout = 30
## If enabled the script output is not shown in the server console
## default: false
#silent = false
